body {
    background-color: rgba(0, 148, 0);
}
@font-face {
    font-family: "Qualio";
    src: url("Fuentes/Qualio.otf");
}
@font-face  {
    font-family: "Kermesse";
    src: url("Fuentes/Kermesse.ttf");
}
@keyframes animacion-arriba {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}
@keyframes animacion-abajo {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}
#Titulo {
    color: rgba(255, 255, 255);
    text-align: center;
    font-family: "Kermesse";
    font-size: 48px;
    font-weight: bolder;
}
#Subtitulo {
    color: rgba(255, 255, 255);
    text-align: center;
    font-family: "Qualio";
    font-size: 24px;
    font-weight: bold;
}
#Numero {
    color: rgba(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    font-family: "Qualio";
    font-size: 24px;
    border: 2px solid rgba(255, 255, 255);
    margin: 0px auto;
    display: block;
}
#Seleccion {
    color: rgba(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255);
    text-align: center;
    font-family: "Qualio";
    font-size: 24px;
    margin: 0px auto;
    display: block;
    transition: ease-in-out 0.2s;
}
#Seleccion:hover {
    color: rgba(0,0,0);
    background-color: rgba(255, 255, 255);
    border: 2px solid rgba(255, 255, 255);
    text-align: center;
    font-family: "Qualio";
    font-size: 24px;
    margin: 0px auto;
    display: block;
    transition: ease-in-out 0.2s;
}
#Conversion {
    color: rgba(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255);
    text-align: center;
    font-family: "Qualio";
    font-size: 24px;
    margin: 0px auto;
    display: block;
}
#Conversion:active {
    color: rgba(255, 255, 255);
    background-color: rgba(255, 255, 255);
    border: 2px solid rgba(255, 255, 255);
    text-align: center;
    font-family: "Qualio";
    font-size: 24px;
    margin: 0px auto;
    display: block;
}
#Resultado {
    color: rgba(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255);
    text-align: center;
    font-family: "Qualio";
    font-size: 24px;
    margin: 0px auto;
    display: block;
}