body{
    background-color: rgb(160, 0, 0);
    background-size: cover;
}
#TextoTitulo{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-family: "Sarala";
    font-weight: bold;
    text-align: center;
    animation: 2s animacion-arriba ease-out;
}
#TextoPrimario{
    color: rgb(255, 255, 255);
    font-family: "Lato";
    font-size: 24px;
    text-align: center;
    animation: 2s animacion-arriba ease-out;
}
#TextoDatos{
    color: rgb(255, 255, 255);
    font-family: "Lato";
    font-size: 28px;
    text-align: center;
    animation: 2s animacion-abajo ease-out;
}
#ValorLados, #ValorDivision{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    font-family: "Lato";
    font-size: 24px;
    margin-left: 628px;
    margin-right: 628px;
    position: fixed;
    border-collapse: collapse;
    border: 4px solid rgb(255, 255, 255);
    text-align: center;
    animation: 2s animacion-abajo ease-out;
}
#ValorLados:hover, #ValorDivision:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: "Lato";
    font-size: 24px;
    margin-left: 628px;
    margin-right: 628px;
    position: fixed;
    border-collapse: collapse;
    border: 4px solid rgb(0, 0, 0);
    text-align: center;
    transition: 0.4s ease-in-out;
}
#Funcion{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    font-family: "Lato";
    font-size: 24px;
    margin-left: 708px;
    margin-right: 708px;
    position: fixed;
    border-collapse: collapse;
    border: 4px solid rgb(255, 255, 255);
    text-align: center;
    animation: 2s animacion-abajo ease-out;
}
#Funcion:active{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: "Lato";
    font-size: 24px;
    margin-left: 708px;
    margin-right: 708px;
    position: fixed;
    border-collapse: collapse;
    border: 4px solid rgb(0, 0, 0);
    text-align: center;
}
@keyframes animacion-arriba {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes animacion-abajo {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}